#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.increase {
  margin: 2rem;
  background-color: green;
  font-weight: bold;
  text-transform: uppercase;
}
.decrease {
  margin: 2rem;
  background-color: orange;
  text-transform: lowercase;
}

.reset {
  margin: 2rem;
  background-color: red;
  font-weight: 200;
  text-transform: uppercase;
}
